* {
  vertical-align: baseline;
}
Link,
li,
p,
img {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 35px;
  background: #000000;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
}
.header p {
  color: #9f9f9f;
}
.search_part {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search_part img {
  width: 23px;
  height: 23px;
  margin-left: 5px;
}
.login_part {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.login_part img {
  width: 23px;
  height: 23px;
  margin-left: 5px;
}
.login_search_common {
  display: flex;
}
.login_search_common div {
  margin-left: 20px;
}
.main_logo_png {
  width: 42px;
  height: 42px;
  margin-top: 5px;
}
.blur_header {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  top: 70px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 23px 300px;
  overflow: hidden;
  z-index: 1000;
}
.blur_header ul {
  display: flex;
  justify-content: space-between;
}
.blur_header li {
  list-style: none;
  font-family: 'Oswald';
  font-size: 16px;
  font-weight: 400;
  color: #9f9f9f;
  transition: color 0.5s linear;
}
.blur_header li:hover {
  color: white;
}
.right_header {
  display: flex;
  align-items: center;
}
.right_header p {
  margin-left: 25px;
  font-family: 'Oswald';
}
.right_header p:first-child {
  margin: 0;
}
