@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Protest+Riot&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Oswald" !important;
}
